*{
	
}
/*header*/
.bg{
	background-image: url("../img/backgr.jpg");
	background-size: cover;
	padding-top: 15%;
	padding-bottom: 6%;
    background-repeat: no-repeat;
    background-position:center;
}
.text{
    animation: ani 1s;
    position: relative;
}
@keyframes ani{
    0%{left: 400px;}
    100%{left: 0px;}
}
.content{
	width: 70%;
    margin: auto;
    color: white;
    padding-top: 0%;
}
.icon1{
    padding-bottom: 9%;
}
.text h1{
    font-family: 'Lato',
    font-size: 54px;
    letter-spacing: 10px;
}
.text p{
	font-family: 'Lato';
	text-align: center;
	padding-top: 54px;
	font-size: 15px;
	padding-bottom: 39px;
}
.ic{
 padding-bottom:5%;
 }
/*end header*/

/*about us*/
.about_us{
	width: 68.9%;
	margin: auto;
}
.about_us-fielset{
	border: 1.5px solid #000000;
}
.about_us-fielset legend{
	width: 50%;
	text-align: center;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 2px;
}
.wrap{
	padding-top: 5%;
	padding-bottom: 5%;
	width: 100%;
}

}
.about_us-fielset p{
     font-family: 'Myriad Pro', sans-serif;
    text-align: center;
    color:#4a4747;
    font-size: 16px;
    line-height: 28px;
 }
 .text{
 	padding-top: 1%;
 	padding-bottom: 1%;
 }
 /*end about us*/
 
 /*services*/
 .services{
 	background-image: url("../img/anh1.jpg");
 	background-size: cover;
 	padding-bottom: 4%;
 	padding-top: 4%;
 }
 .services-content{
 	width: 51.3%;
 	margin: auto;
 }
 .services_fieldset{
 	border: 1.5px solid #ffffff;
 }
 .services_fieldset legend{
 	width: 50%;
	text-align: center;
    font-family: 'Lato';
    text-transform: uppercase;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #ffffff;

 }
 .services_fieldset p {
    font-family: 'Lato';
    line-height: 28px;
    color: #ffffff;
    font-size: 16px;
 }
 /*end services*/

 /*what we do*/
 .what-we-do{
 	padding-bottom: 5%;
 	padding-top: 5%;
 	width: 100%;
 }
 .wwd-content{
 	width: 68.8%;
 	margin:auto;
 }
 .wwd_fieldset{
 	border: 1.5px solid #000000;
 }
 .wwd_fieldset legend{
 	font-size: 34px;
    font-family: 'Lato';
    font-weight: bold;
    width: 50%;
 }
 .wwd_fieldset img{
 	padding-top: 4%;
 	padding-bottom: 4%;
 }
 .wwd_fieldset h3 {
    font-family: 'lato',sans-serif;
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 4%;
}
.wwd_fieldset p {
    font-family: 'Myriad Pro',sans-serif;
    font-size: 15px;
    color: #4a4747;
    line-height: 28px;
    padding-bottom: 4%;
}
/*end what we do*/

/*our work*/
.our_work{

}

.topworkz{
	background-image: url("../img/layer1.jpg");
	background-size: cover;
	margin: auto;
	margin-right:0.5%;
	margin-bottom: 0.5%;
}
.joint{
	background-image: url("../img/layer2.jpg");
	background-size: cover;
	margin: auto;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0.5%;
}
.market{
	background-image: url("../img/layer3.jpg");
	background-size: cover;
	margin: auto;
	margin-left:0.5%;
	margin-bottom: 0.5%;
}
.worktop{
	background-image: url("../img/layer4.jpg");
	background-size: cover;
	margin: auto;
	margin-right:0.5%;
}
.lable{
	background-image: url("../img/layer5.jpg");
	background-size: cover;
	margin: auto;
	margin-left: 0;
	margin-right: 0;
}
.kyiv{
	background-image: url("../img/layer6.jpg");
	background-size: cover;
	margin: auto;
	margin-left:0.5%;
}
.topworkz,.joint,.market,.worktop,.lable,.kyiv{
	padding-top: 10%;
	padding-bottom: 3%;
}
.topworkz,.joint,.market,.worktop,.lable,.kyiv p{
    font-family: 'Lato';
    font-weight: bold;
    color: #ffffff;
   font-size: 34px;

}
/*end our work*/
/*contact us*/
.contact_us_content{
	width: 68%;
	margin:auto;
}
.contact_us{
	padding-bottom: 5%;
	padding-top: 5%;
}
.contact_us_fieldset{
	border: 1.5px solid #3c3c3c;
}
.contact_us_fieldset legend{
	width: 50%;
    font-size: 34px;
    letter-spacing: 6px;
    font-weight: bold;
}
.contact_us_fieldset p {
    padding-top: 2%;
    line-height: 28px;
    padding-bottom: 2%;
}
.bt {
    width: 40%;
    margin: auto;
    padding: 2% 0;
}
.button_ct{
    padding-bottom: 3%;
}
/*end contact us*/
/*footer*/
.footer_content{
    padding-top: 54px;
}
.footer_content img {
    float: left;
    padding-left: 36%;
}
.footer_content p {
    float: left;
    padding: 1.3%;
}

/*end footer*/
